<div class="container-fluid">
    <h1>My Angular Bootstrap Web App</h1>
    <p>Welcome to a super easy, pre built web app using angular and bootstrap which will allow you to start creating content right now. No need
    to get the basics set up, just start putting your specific content into templates, join them to a route, create some controllers etc. and your on your way!</p>
    <p>Please note: <span class="font-medium">This is a developer pack, intended for use by developers.</span>
    <p>This is intended to cover the first 10% of setting up a new project. Once you have this pack installed, the work actually starts.
    I have left out most stuff because there are soooo many ways to complete the required features of any given web app. This is just the most typical stuff you will need on the front end
    to get going.</p>
    <div class="m-t-30">
        <h4>What's in the box?</h4>
        <h5>Core Components</h5>
        <ul>
            <li>AngularJS 1.5.6 (<a href="https://angularjs.org/">https://angularjs.org/</a>)</li>
            <li>Bootstrap 3.3.6 (<a href="http://bootstrapdocs.com/v3.3.6/docs/">http://bootstrapdocs.com/v3.3.6/docs/</a>)</li>
            <li>Angular UI Bootstrap (<a href="https://angular-ui.github.io/bootstrap/">https://angular-ui.github.io/bootstrap/</a>)</li>
            <li>Angular UI Router (<a href="http://angular-ui.github.io/ui-router/site/#/api/ui.router">http://angular-ui.github.io/ui-router/site/#/api/ui.router</a>)</li>
            <li>UI Router Meta-Tags (<a href="https://github.com/tinusn/ui-router-metatags">https://github.com/tinusn/ui-router-metatags</a>)</li>
            <li>Other Angular Components</li>
            <li>jQuery 2.2.4 (<a href="https://jquery.com/">https://jquery.com/</a>)</li>
        </ul>
        
        <h5>Some Fun Stuff and Utils</h5>
        <ul>
            <li>MomentJS (<a href="http://momentjs.com/">http://momentjs.com/</a>)</li>
            <li>Animate.css (<a href="http://daneden.github.io/animate.css/">http://daneden.github.io/animate.css/</a>)</li>
            <li>Font Awesome Icons (<a href="http://fontawesome.io/icons/">http://fontawesome.io/icons/</a>)</li>
            <li>VidoeJS + Youtube Plugin (<a href="http://videojs.com/">http://videojs.com/</a>)(<a href="https://github.com/videojs/videojs-youtube">https://github.com/videojs/videojs-youtube</a>)</li>
            <li>LightGallery (<a href="http://sachinchoolur.github.io/lightGallery/">http://sachinchoolur.github.io/lightGallery/</a>)</li>
            <li>Please Wait Splash Screen (<a href="http://pathgather.github.io/please-wait/">http://pathgather.github.io/please-wait/</a>)</li>
            <li>Full Suite of Source Sans Pro Font Pack (<a href="http://adobe-fonts.github.io/source-sans-pro/">http://adobe-fonts.github.io/source-sans-pro/</a>)</li>
        </ul>
        
        <h5>Custom Web App Components</h5>
        <ul>
            <li>Set of LESS files with things to help you build web application</li>
            <li>Defined Angular Folder Structure which might serve you well as your web application grows</li>
            <li>.htaccess file for deploying the front-end on an Apache web server</li>
            <li>Grunt build automation with watch task to aid development work flow</li>
            <li>A couple of useful Angular Directives</li>
            <li>A NodeJS backend for rapid development</li>
        </ul>
    </div>
    
    <div class="m-t-30 m-b-30">
        <p>So why do this? There are heaps of other starter templates/seed templates/starter packs for Angular and Bootstrap, why not just use one of those? Answer is, you can! 
        This is simply what I have boiled the last 12 months of Angular and Bootstrap development down to. This is where I always seem to start.</p>
        
        <blockquote>I don't know the future. I didn't come here to tell you how this is going to end. 
        I came here to tell you how it's going to begin...Where we go from there is a choice I leave to you - Neo. The Matrix (1999)</blockquote>
        
        <p>The truth is, as developers, we all produce the same concepts, many different ways. This is simply another thing, that you might find useful and will help you get started on your next Angular + Bootstrap project.
        </p>
        <p>Good luck and happy coding!</p>
    </div>
</div>